<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="title">Homepage</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="deed in deeds.slice().reverse()">
            <div class="thumbnail">
                <img ng-src="{{deed.image}}" alt="{{deed.title}}" />
                <div class="caption">
                    <h3>{{deed.title}}</h3>
                    <username user="{{deed.user}}"></username>
                    <p ng-text-truncate="deed.description" ng-tt-chars-threshold="200"></p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Details</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
